.header-container {
  width: 100%;
  /* background: url('../imgs/about-back-one.png');
  background-position: top center;
  background-size: cover; */
}

#menu {
  display: none;
}

.header-all-container {
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid #fff;
}

.header-top {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}

.nav>li>a {
  padding: 0 !important;
}

.navbar-brand {
  height: 0 !important;
}

.navbar-inverse {
  background-color: transparent !important;
  border-color: transparent !important;
}

.nav-link {
  padding: 0;
}

a:hover {
  text-decoration: none;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  background-color: transparent !important;
}

.span-style {
  color: #bbb;
}

@media screen and (min-width: 1000px) {
  .navbar-collapse.collapse {
    display: none !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}

@media screen and (min-width: 1781px) {
  .header-container {
    padding-top: 70px;
  }

  .img-responsives {
    width: auto;
    height: 70px;
  }

  .header-top-left {
    height: 80px;
    line-height: 80px;
    display: flex;
  }

  .header-top-left-img-font {
    padding-top: 10px;
    display: flex;
  }

  .header-top-left-font-style {
    font-size: 30px;
  }

  .nav-item {
    width: 165px;
    height: 80px;
    line-height: 80px;
    text-align: center;
  }

  .min-liHome {
    padding-top: 30px;
    color: #bbb;
    font-size: 23px;
  }

  .min-liHome:hover {
    border-bottom: 6px transparent solid;
    border-image: linear-gradient(to right, rgb(22, 115, 202), #0aa1ed) 1 10;
    cursor: pointer;
  }

  .navbar-nav {
    float: right !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1780px) {
  .header-container {
    padding-top: 70px;
  }

  .img-responsives {
    width: 180px;
    height: 60px;
  }

  .header-top-left {
    height: 80px;
    line-height: 80px;
    display: flex;
  }

  .header-top-left-img-font {
    padding-top: 10px;
    display: flex;
  }

  .header-top-left-font-style {
    font-size: 21px;
  }

  .nav-item {
    width: 140px;
    height: 80px;
    line-height: 80px;
    text-align: center;
  }

  .min-liHome {
    padding-top: 30px;
    font-size: 20px;
    color: #bbb;
  }

  .min-liHome:hover {
    border-bottom: 6px transparent solid;
    border-image: linear-gradient(to right, rgb(22, 115, 202), #0aa1ed) 1 10;
    cursor: pointer;
  }

  .navbar-nav {
    float: right !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header-container {
    padding-top: 40px;
  }

  .img-responsives {
    width: 150px;
    height: 60px;
  }

  .header-top-font-symbol {
    display: none;
  }

  .header-top-left {
    height: 80px;
    line-height: 0;
  }

  .header-top-left-img-font {
    padding-top: 5px;
  }

  .header-top-font-symbol {
    display: none;
  }

  .header-top-left-font-style {
    height: 80px;
    font-size: 18px;
  }

  .nav-item {
    width: 130px;
    height: 80px;
    line-height: 80px;
    text-align: center;
  }

  .min-liHome {
    padding-top: 30px;
    font-size: 18px;
    color: #bbb;
  }

  .min-liHome:hover {
    border-bottom: 6px transparent solid;
    border-image: linear-gradient(to right, rgb(22, 115, 202), #0aa1ed) 1 10;
    cursor: pointer;
  }

  .navbar-nav {
    float: right !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-toggle {
    display: block !important;
  }

  .header-container {
    padding-top: 30px;
  }

  .img-responsives {
    width: 100px;
    height: 40px;
  }

  .header-top-left {
    height: 80px;
    line-height: 0;
  }

  .header-top-left-img-font {
    padding-top: 5px;
  }

  .header-top-font-symbol {
    display: none;
  }

  .header-top-left-font-style {
    height: 80px;
    font-size: 18px;
  }

  .navbar-nav {
    float: none;
  }

  .nav-item {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center !important;
  }

  .min-right-first-ul li {
    border-bottom: 1px solid #ddd;
  }

  .min-liHome {
    padding-top: 20px;
    font-size: 15px;
    color: #bbb;
  }

  .min-liHome:hover {
    color: #fff;
    cursor: pointer;
  }

  .navbar-collapse {
    padding: 0 !important;
    background-color: #666 !important;
    border-radius: 30px !important;
    text-align: center !important;
  }

  .nav-item {
    text-align: center !important;
  }


  /* .header-container {
    padding-top: 20px;
  }

  .nav-item {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
  }

  .container {
    max-width: 100%;
    padding-right: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .img-responsives {
    width: 150px;
    height: 60px;
  }

  .header-top-left {
    height: 80px;
    line-height: 0;
  }

  .header-top-left-img-font {
    padding-top: 5px;
  }

  .header-top-font-symbol {
    display: none;
  }

  .header-top-left-font-style {
    height: 80px;
    font-size: 18px;
  }


  .min-right-first-ul li {
    border-bottom: 1px solid #ddd;
  }

  .min-liHome {
    padding-top: 30px;
    font-size: 15px;
  }

  .min-liHome:hover {
    border-bottom: 3px solid blue;
    cursor: pointer;
  }

  .navbar-toggle {
    display: block !important;
  } */
}

/* and (min-width: 576px)  */
@media screen and (max-width: 767px) {
  .navbar-toggle {
    display: block !important;
  }

  .header-container {
    padding-top: 30px;
  }

  .img-responsives {
    width: 100px;
    height: 40px;
  }

  .header-top-left {
    height: 80px;
    line-height: 0;
  }

  .header-top-left-img-font {
    padding-top: 5px;
  }

  .header-top-font-symbol {
    display: none;
  }

  .header-top-left-font-style {
    height: 80px;
    font-size: 18px;
  }

  .navbar-nav {
    float: none;
  }

  .nav-item {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
  }

  .min-right-first-ul li {
    border-bottom: 1px solid #ddd;
  }

  .min-liHome {
    padding-top: 15px;
    font-size: 15px;
    color: #bbb;
  }

  .navbar-collapse {
    width: 65px;
    padding-bottom: 15px !important;
    background-color: #666 !important;
    border-radius: 5px !important;
    text-align: center !important;
  }

  .nav-item {
    text-align: center !important;
  }
}

/* @media screen and (max-width: 575px) {
  .header-container {
    padding-top: 30px;
  }

  .nav-item {
    width: 160px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }

  .min-right-first-ul li {
    border-bottom: 1px solid #ddd;
  }

  .min-liHome {
    padding-top: 10px;
    font-size: 15px;
  }

  .min-liHome:hover {
    border-bottom: 3px solid blue;
    cursor: pointer;
  }

  .navbar {
    padding: 0 !important;
    margin-bottom: 0 !important;
  }

  .navbar-toggle {
    margin-top: 45px !important;
  }

  .navbar-collapse {
    background-color: #fff !important;
    padding: 10px 0 !important;
    border: none !important;
  }
} */

.active {
  color: #fff;
}

.show-containr {
  display: block;
}

.hidden-container {
  display: none;
}